PORT=3000

NODE_ENV=development

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM="PowerGym <cuenta@gmail.com>"

AVISOS_DIAS_ANTES=5
AVISOS_CRON=0 9 * * *
AVISOS_TIMEZONE=America/Buenos_Aires
AVISOS_ACTIVOS=false

JWT_SECRET=